@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    background-color: #ffd59e;
}

p {
    font-size: 18px;
}

#intro {
    text-align: center;
}

.center {
    margin: auto;
    top: 70px;
    right: 0;
    left: 0;
    bottom: 70px;
    max-width: 650px;
    padding: 20px;

    animation: fadInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#fun-facts {
    text-align: left;
}

img {
    width: 40%;
    height: 40%;
    border-radius: 40%
}

a {
    text-decoration: none;
    color: #228027;
}

a:hover {
    font-size: 18px;
    font-weight: bold;
}

span {
    font-weight: bold;
}

#links a{
    margin-left: 2.5em;
    color:#ff6e30;
    font-size: 20px;
}