@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
    font-family: 'Karla', sans-serif;
    text-align: center;
    background-color: #ffb969;
}

.center {
    position: absolute;
    margin: auto;
    top: 70px;
    right: 0;
    left: 0;
    bottom: 70px;
    max-width: 600px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;

    animation: fadInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#fun-facts {
    text-align: left;
}

img {
    width: 70%;
    height: 70%;
}